            body{
                background: linear-gradient( rgba(44, 38, 38, 0.45), rgba(0, 0, 0, 0.45) ), url("../../../imagenes/profileback.jpg")!important;
                background-repeat: no-repeat !important;
                background-attachment: fixed !important;
                background-size: cover !important;
                margin-top: 0px;
                display: block;
            }



.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.goho{background-image:url(../../../imagenes/troops/attacks/goho.png);}
.gohoc{background-image:url(../../../imagenes/troops/attacks/gohoc.png);}
.lalo{background-image:url(../../../imagenes/troops/attacks/golalo.png);}
.gowipe{background-image:url(../../../imagenes/troops/attacks/gowipe.png);}
.gowiwi{background-image:url(../../../imagenes/troops/attacks/gowiwi.png);}
.lalonion{background-image:url(../../../imagenes/troops/attacks/lalonion.png);}
.dragons{background-image:url(../../../imagenes/troops/attacks/dragons.png);}
.other{background-image:url(../../../imagenes/troops/attacks/other.png);}

.th7{background-image:url(../../../imagenes/th/th7.png);}
.th8{background-image:url(../../../imagenes/th/th8.png);}
.th9{background-image:url(../../../imagenes/th/th9.png);}
.th10{background-image:url(../../../imagenes/th/th10.png);}

.cc-selector-2 input:active +.favattack-cc, .cc-selector input:active +.favattack-cc{opacity: .9;}
.cc-selector-2 input:checked +.favattack-cc, .cc-selector input:checked +.favattack-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.favattack-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:120px;height:100px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.favattack-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.profile_back {
	width:80%;
	margin: auto;
	background-color:#E9E9E9;
	border-radius: 20px;
    border: 5px solid #333;
	overflow:auto;
	padding: 20px;
	margin-top: 30px;

}
.form_corners {
	background-color:#E9E9E9;
	border-radius: 20px;
    border: 5px solid #333;
	overflow:auto;
	font-family: supercellfont;
	padding: 20px;
}
.logo {
	margin-top: 80px;
	alig
}

.font_supercell {
	font-family: supercellfont;
}


 .black_overlay{
        display: none;
        position:fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: fixed;
        top: 25%;
        left: 25%;
		max-width: 80%;
        padding: 16px;
        border: 10px solid black;
        background-color: white;
        z-index:4002;
        overflow: auto;
		  border-radius: 28px;
    }
		.wrap {
	  /* force the div to properly contain the floated images: */
	  position:relative;
	  float:left;
	  clear:none;
	  overflow:hidden;
	}
	.wrap img {
	  position:relative;
	  z-index:1;
	}
	.wrap .desc {
	  display:block;
	  position:absolute;
	  width:100%;
	  top:0;
	  left: 0;
	  z-index:2;
	  font-size: 18px;
	  color: #FFFFB8;
	  text-align:center;
	  text-shadow:2px 2px 6px #000000;	  
	  font-family:supercellfont;
	}
	.wrap .desc2 {
	  display:block;
	  position:absolute;
	  width:100%;
	  top:0;
	  right: 0;
	  z-index:2;
	  font-size: 18px;
	 color: #FFFFB8;
	  text-align:center;
	  text-shadow:2px 2px 6px #000000;
	  font-family:supercellfont;
	}	
	.wrap .desc3 {
	display: block;
	position: fixed;
	top: 5;
	right: 0;
	z-index: 1000;
	font-size: 14px;
	color: #FFFFB8;
	text-align: center;
	text-shadow: 2px 2px 6px #000000;
	font-family: supercellfont;
	}			
.txt_over_image_image {
     position: relative; 
	 left: 0; 
	 top: 0;
	} 
.txt_over_image_text {
	position: absolute; 
	top: 50px; 
	left: 50px;
	font-size: 20px;
	text-shadow: 3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
	color: #E06305;	
	  
	   }
        #cover{ 
			position:fixed;
			top:0;
			left:0;
			background:rgba(0,0,0,0.6);
			z-index:5
			; width:100%;
			height:100%;
			display:none;
        } 
        #score { 
			height:380px;
			min-width: 280px;
			max-width: 380px;
			margin:0 auto;
			position:relative;
			z-index:10
			; display:none;
			background: url(login.png) no-repeat;
			border:5px solid #cccccc;
			border-radius:10px;
        }
        #score:target, #score:target + #cover{
			display:block;
			opacity:2;
        }
        .cancel { 
			display:block;
			position:absolute;
			top:3px;
			right:2px;
			background:rgb(245,245,245);
			color:black;
			height:30px;
			width:35px;
			font-size:30px;
			text-decoration:none;
			text-align:center;
			font-weight:bold; 
        }
.popup{
  position:fixed;
  left:50%;
  
}
.popup .wrapper{
  position:relative; 
  left:-50%;
}		
.imageAndText {position: relative;} 
.imageAndText .col {position: absolute; z-index: 1; top: 5; left: 0;}

.royals img+span.badge {
    position: relative;
    top: -17px;
    left: -5px;
	background-color:#993;
	color:#fff;
	
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../../../imagenes/page-loader.gif') 50% 50% no-repeat rgb(255,255,255);
}